body { 
	padding-top: 50px;
}

.navbar-custom {
	font-size : x-large;
	font-weight : 100;
	color : grey;
	background : #001928;
}

.nav-selected {
	text-shadow : 0px 0px 4px rgba(200, 255, 200, 1);
	color : white;
}

.no-border {
	border : none;
}

.no-margin-tb {
	margin-top : 0;
	margin-bottom: 0;
}

.no-margin-lr {
	margin-left : 0;
	margin-right: 0;
}

.no-padding-lr {
	padding-left : 0;
	padding-right : 0;
}
