body {
	font-family: 'Montserrat' sans-serif;
	font-weight: 400;
}

.thumbnail {
	width : 120px;
	height : 186px;
	padding : 0;
	position : relative;
	top: -13px;
	background : none;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail img {
	max-width : 110px;
	max-height: 156px;
	position : absolute;
	bottom : 4px;
	margin-bottom : -2px;
	box-shadow: 0px -1px 2px 2px rgba(0, 0, 0, 0.3);
}

.games-view {
	position: relative;
	width : 100%;
	padding : 0;
	margin : 0;
}

::-webkit-scrollbar {
	width: 0px;
}

::scrollbar {
	width: 0px;
}

.menu-button {
	width: 36px;
	height: 36px;
	margin: 0;
	padding: 0;
	border: 0;
	margin-left: 15px;
}
@media (max-device-width: 800px) {
	.nav>li>a {
		display: inline !important;
		padding: 0px !important;
	}
}
@media (min-device-width: 801px) {
	.menu-button {
		display: none;
	}
}

.left-pane {
	position : fixed;
	padding : 0;
	top : 50px;
	left : 0;
	width : 250px;
	height : calc(100vh - 50px);
	box-shadow : 1px 0px 2px 2px rgba(0, 0, 0, 0.3);
	z-index : 20;
	background: url('../img/redox_01.png') repeat;
	overflow-y: auto;	
}

.right-pane {
	position : relative;
	padding : 49px 0px 0px 250px;
	width : 100%;
	height : calc(100vh - 50px);
	overflow-y: auto;	
}

.shelf-top {
	position : fixed;
	padding : 40px 10px 10px 10px;
	top : 20px;
	left : 250px;
	width : 100%;
	height : 81px;
	background : url('../img/bookshelf-background-top.png') repeat-x;
	box-shadow : 0px 10px 20px 10px rgba(0, 0, 0, 0.3);
	z-index : 10;
}

.bookshelf .row {
	padding: 0;
	min-height: calc(100vh - 99px);
}

.bookshelf:before, .bookshelf:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
}

.bookshelf:before {
    background: url('../img/bookshelf-background_01.png') repeat-y left top;
    width: 69px;
    left: 0;
}

.bookshelf {
	background : url('../img/bookshelf-background_02.png') repeat center top;
	position : relative;
	width : 100%;
	padding : 0px 69px 0 69px;
}

.bookshelf:after {
    background: url('../img/bookshelf-background_03.png') repeat-y right top;
    width: 69px;
    right: 0;
}

/* game details dialog */
.game-details-dialog {
	background-image: url('../img/redox_01.png');
	background-repeat: repeat;
	width : 750px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: inset -1px -1px 1px 1px rgba(0, 0, 0, 0.3), inset 1px 1px rgba(155, 155, 155, 0.3), 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
	z-index : 30;
	position:fixed;
	top: 60px;
	height : calc(100vh - 70px);
	positon: fixed;
	visibility: hidden;
}

.game-details-dialog .dialog-body {
	width: 100%;
	height: auto;
}

.game-details-dialog .cover {
	margin-right: 20px;
	float: left;
	width: 220px;
	height: 380px;
}

.game-details-dialog .info {
	float: left;
	width: 467px;
	margin-bottom: 20px;
	height : calc(100vh - 165px);	
	overflow-y: auto;
	overflow-x: hidden;
}

.game-details-dialog .details {
	border-top : 1px solid;
	border-bottom : 1px solid;
	width: 467px;
	padding : 10px 10px 10px 0px;
}

.game-details-dialog h1 {
	line-height: normal;
	margin: 10px 0px 5px 0px;
}

.game-details-dialog .comments {
	min-height: 200px;
	margin-top: 20px;
}

.game-details-dialog .dialog-footer {
	width: 100%;
	text-align: right;
	clear:both;
}

.game-details-dialog .dialog-footer > div {
	display: inline;
}

.game-details-dialog input[type=checkbox] {
	vertical-align: middle;
	position: relative;
	bottom: 3px;
}

.game-details-dialog [contenteditable=true] {
	background-color: LightSteelBlue;
	border : 1px dotted;
	padding: 0px 2px 0px 2px;
	box-shadow : inset 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.game-details-dialog [contenteditable=false] {
	outline : none;
}

.game-details-dialog span[contenteditable=true] {
	display: inline-block;
	min-width : 7em;
}

[contenteditable=true].input-empty::before {
	content: attr(hint);
	color: rgba(20, 20, 20, 0.3);
}

.game-details-dialog .ng-dirty.ng-invalid {
	background-color: pink;
}

.game-details-dialog .comments[contenteditable=false]:first-letter {
	font-size: 66px;
	line-height: 53px;
	font-family: Georgia, "Times New Roman", Times, serif;
	float: left;
	margin-right: 5px;
	vertical-align: top;
	text-transform: capitalize;
}

.game-details-dialog p[contenteditable=true] {
	display: inline-block;
	min-width: 440px;
	min-height: 60px;
}

.game-details-dialog .errors {
	color: red;
	font-weight: bold;
	text-align: right;
	height: 34px;
	vertical-align: bottom;
}

.toolbar-form {
	width: 15em !important;
	display: inline !important;
	position:relative;
	top:0px;
	border: none;
	outline: hidden;
	padding: 1px 15px 1px 15px;
	background: rgba(255, 255, 255, 0.5);	
	border-radius: 15px;
	height: 23px !important;
}

.toolbar-form:focus {
	box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 200, 0.4);
	outline: none;
}

.search-box {
	background: rgba(255, 255, 255, 0.5) url('../img/search_icon.png') 7px 3px no-repeat;	
	padding: 1px 15px 0px 30px;
	top: 1px;
}

input[type=checkbox].select-reverse {
	display:none !important;
}

input[type=checkbox].select-reverse + label {
	position: relative;
	top: 3px;
}

input[type=checkbox].select-reverse + label:hover {
	color: darkblue;
}

input[type=checkbox].select-reverse + label:before {
	font-family: 'Glyphicons Halflings';
	font-weight: 100;
}

input[type=checkbox].select-reverse + label:before
{
	content: '\e151';
}

input[type=checkbox].select-reverse:checked + label:before
{
	content: '\e152';
}

.counter {
	background-color: darkgrey;
	color: lightgrey;
	padding: 2px 15px 3px 15px;
	border-radius: 15px;
	position: relative;
	top: 0px;
	height: 23px !important;
}

.infix-right {
	border-top-right-radius: 0px; 
	border-bottom-right-radius: 0px;
	margin-right: 0px;
}

select.toolbar-form {
	background: url('../img/down-arrow.png') no-repeat 97% 4px rgba(255,255,255,0.5);
	position: relative;
	top:1px;
	-webkit-appearance: none;
}

.infix-left {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: 0px;
	position:relative;
	left:-4px;
}

#back {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 25;
	background-color: rgba(255, 255, 255, 0.6);
}

ul.tree-view, ul.tree-view ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.tree-view > li {
	margin: 10px 0px 20px 0px;
}

ul.tree-view > li > div.tree-branch > label {
	width: 100%;
	padding: 0px 10px 5px 10px;
	text-transform: uppercase;
	margin: 0;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1), 0px -1px 1px rgba(0, 0, 0, 0.1); 
	color: rgba(100, 100, 100, 0.4);	
	font-size: small;
	font-weight: 700;
}

.collapsed {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
}

.filter-keys.collapsed-add,
.filter-keys.collapsed-remove {
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.filter-keys.collapsed-add {
	max-height: 200px;
	opacity: 1;
}

.filter-keys.collapsed-add-active {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
}

.filter-keys.collapsed-remove {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
}

.filter-keys.collapsed-remove-active {
	max-height: 200px;
	opacity: 1;
}

ul.tree-view > li > div.tree-branch > ul > li {
	padding-left: 1.5em;
}


ul.tree-view > li > div.tree-branch > ul > li:hover {
	background-color: rgba(5, 100, 250, 0.3);
	cursor: pointer; cursor: hand;
}

ul.tree-view > li > div.tree-branch > ul > li.selected {
	background-color: rgba(100, 100, 100, 0.4);
	box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

/*
.game-covers.ng-enter,
.game-covers.ng-leave {
  -webkit-transition: 0.2s ease opacity;
  -moz-transition: 0.2s ease opacity;
  -o-transition: 0.2s ease opacity;
  transition: 0.2s ease opacity;
}

.game-covers.ng-enter {
  opacity: 0;
}

.game-covers.ng-enter.ng-enter-active {
  opacity: 1;
}

.game-covers.ng-leave {
  opacity: 1;
}

.game-covers.ng-leave.ng-leave-active {
  opacity: 0;
}
*/

.button {
	color: grey;
	position: relative;
	top: 1px;
	padding: 4px 6px 4px 8px;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1), 0px -1px 1px rgba(0, 0, 0, 0.1); 
	opacity: 0.8;
	background: rgba(128, 128, 128, 0.1);
	font-weight: bold;
	border-radius: 4px;
	border: 0px solid;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3), inset 0px 0px 2px 1px rgba(255, 255, 255, 0.3);
}

.tab-start,
.tab-middle,
.tab-end {
	color: grey;
	position: relative;
	top: 1px;
	left: 2px;
	padding: 4px 8px 4px 8px;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1), 0px -1px 1px rgba(0, 0, 0, 0.1); 
	opacity: 0.8;
	background: rgba(128, 128, 128, 0.1);
	font-weight: bold;
	border: 0px solid;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3), inset 0px 0px 2px 1px rgba(255, 255, 255, 0.3);
}

.tab-start {
	border-radius: 4px 0px 0px 4px;
	margin-right: 0px;
	margin-left: 10px;
}

.tab-middle {
	border-radius: 0px;
	margin-right: -3px;
	margin-left: -3px;
}

.tab-end {
	border-radius: 0px 4px 4px 0px;
	margin-left: 0px;
	margin-right: 10px;
}

.button:hover {
	cursor: pointer; cursor: hand;	
}

/*
.button:hover,.tab-start:hover,.tab-end:hover {
	color: blue;
	background: rgba(128, 128, 128, 0.3);
	text-shadow: 0px -1px 1px rgba(255, 255, 255, 1), 0px 1px 1px rgba(0, 0, 0, 0.1); 
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.3), 0px 0px 2px 1px rgba(255, 255, 255, 0.3);
}
*/

table.rep-table {
	border-collapse: separate;
	border-spacing: 4px;
}

table.rep-table td {
	padding: 1px 1px;
	vertical-align: bottom;
}

table.rep-table td div {
	width: 17em;
	overflow: hidden;
	white-space: nowrap;
}

table.rep-table td div:after {
	content: '............................';
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.table {
	background: url('../img/retina_wood.png');
	width: 100%;
	min-height: clac(100vh - 99px);
	padding: 0;
	margin-bottom:0;
}

.report:before {
	content: '';
	background: url('../img/textured_paper_01.png') repeat-y left top;
	width: 54px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -54px;
}

.report {
	background: url('../img/textured_paper_02.png') repeat;
	width: 1000px;
	min-height : calc(100vh - 99px);
	position: relative;
	font-family: 'Courier New';
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	padding-bottom: 100px;
}

.report:after {
	content: '';
	background: url('../img/textured_paper_03.png') repeat-y right top;
	width: 54px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -54px;
}

.report h1 {
	text-decoration: underline;
}

.report div.ng-enter,
.report div.ng-leave,
.report div.ng-move {
  -webkit-transition: 1s ease all;
  -moz-transition: 1s ease all;
  -o-transition: 1s ease all;
  transition: 1s ease all;
}

.report div.ng-enter,
.report div.ng-move {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.report div.ng-move.ng-move-active,
.report div.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 600px;
}

.report div.ng-leave {
  opacity: 1;
  max-height: 600px;
  overflow: hidden;
}

.report div.ng-leave.ng-leave-active {
  opacity: 0;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.chart h1 {
	margin: 1em 0em 0.1em 0.21em;
}

.chart-box {
	height: 400px;
}

.chart-box-small {
	height: 200px;
}

.jqplot-data-label {
	color: darkblue;
}

.shelf-top .combobox {
	display: inline-block;
}

@media (max-device-width: 800px) {
	.left-pane,
	.tab-start,
	.tab-middle,
	.tab-end,
	.shelf-top .combobox {
		display: none;
	}

	body {
		width: auto;
	}

	.right-pane {
		position:relative;
		padding: 49px 0px 0px 0px;
	}

	.shelf-top {
		position : fixed;
		padding : 40px 10px 10px 10px;
		top : 20px;
		left : 0px;
	}

	.game-details-dialog {
		position:fixed;
		top: 5px;
		left: 5px !important;
		right: 5px;
		bottom: 5px;
		z-index : 1031;
		overflow : auto;
		height : initial;
		width : initial;
	}	

	.game-details-dialog .dialog-body,
	.game-details-dialog .cover,
	.game-details-dialog .info,
	.game-details-dialog .dialog-footer {
		display: block;
		width: 100%;
		float: none;
		height: initial;
	}

	.game-details-dialog .comments {
		min-height: 3em;
	}

	.game-details-dialog .dialog-footer {
		position: fixed;
		bottom: 15px;
		right: 15px;
	}
}

/*******************************************************/
.CSSTableGenerator {
margin:0px;padding:0px;
width:100%;
border:1px solid #000000;

-moz-border-radius-bottomleft:0px;
-webkit-border-bottom-left-radius:0px;
border-bottom-left-radius:0px;

-moz-border-radius-bottomright:0px;
-webkit-border-bottom-right-radius:0px;
border-bottom-right-radius:0px;

-moz-border-radius-topright:0px;
-webkit-border-top-right-radius:0px;
border-top-right-radius:0px;

-moz-border-radius-topleft:0px;
-webkit-border-top-left-radius:0px;
border-top-left-radius:0px;
}.CSSTableGenerator table{
width:100%;
height:100%;
margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
-moz-border-radius-bottomright:0px;
-webkit-border-bottom-right-radius:0px;
border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
-moz-border-radius-topleft:0px;
-webkit-border-top-left-radius:0px;
border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
-moz-border-radius-topright:0px;
-webkit-border-top-right-radius:0px;
border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
-moz-border-radius-bottomleft:0px;
-webkit-border-bottom-left-radius:0px;
border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{

}.CSSTableGenerator tr:nth-child(odd){ background-color:#e5e5e5; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }
.CSSTableGenerator td{
vertical-align:middle;


border:1px solid #000000;
border-width:0px 1px 1px 0px;
text-align:left;
padding:7px;
font-size:10px;
font-family:arial;
font-weight:normal;
color:#000000;
}.CSSTableGenerator tr:last-child td{
border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
	background:-o-linear-gradient(bottom, #4c4c4c 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #000000) );	background:-moz-linear-gradient( center top, #4c4c4c 5%, #000000 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#000000");	background: -o-linear-gradient(top,#4c4c4c,000000);
background-color:#4c4c4c;
border:0px solid #000000;
text-align:center;
border-width:0px 0px 1px 1px;
font-size:14px;
font-family:arial;
font-weight:bold;
color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #4c4c4c 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #000000) );	background:-moz-linear-gradient( center top, #4c4c4c 5%, #000000 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#000000");	background: -o-linear-gradient(top,#4c4c4c,000000);
background-color:#4c4c4c;
}
.CSSTableGenerator tr:first-child td:first-child{
border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
border-width:0px 0px 1px 1px;
}
