<div class="bookshelf">
	<div class="row">
		<div ng-repeat="game in ($parent.filtered = (games | filter : activeFilters : in | filter : { $ : searchCriteria } | orderBy : orderByField : orderReverse | emptyToEnd : orderByField)) | limitTo: $parent.maxShownGames" class="col-xl-1 col-lg-2 col-sm-3 col-xs-6 game-covers">
			<game details="game" class="thumbnail no-border"><img ng-src="{{ prefix(game.coverArtThumb, 'img/missing-cover-art.png') }}" title="{{ game.title }}"/></game>
		</div>
	</div>
</div>
