<div class="modal-header">
	<h3 class="modal-title">{{ title }} para {{ system }}</h3>
</div>
<div class="modal-body">
	<div class="container-fluid">
	<center>
		<div class="row">
			<div ng-repeat="cover in covers" class="col-xl-15 col-lg-15 col-sm-3 col-xs-6">
				<span class="thumbnail"><img ng-src="{{ cover.image.thumbnailLink }}" ng-click="ok(cover)"/></span>
			</div>
		</div>
		<div class="col-xl-12">
			<div class="input-group">
				<input ng-model="coverdlg.other" class="form-control" placeholder="outra..." type="text">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="customOk()")>Ok</button>
				</span>
			</div>
		</div>
	</center>
	</div>
</div>
