<div class="games-view">
	<div class="left-pane">
		<ul class="tree-view">
			<li ng-repeat="filter in filters" tree-branch>
				<label>{{ filter.name }}</label>
				<ul class="filter-keys">
					<li tree-option="{{ filter.field }}" ng-repeat="key in filter.keys" key="key">{{ filter.label(key) || key }}</li>
				</ul>
			</li>
		</ul>	
	</div>
	<div infinite-scroll="moreGames()" class="right-pane">
		<div class="shelf-top">
			<a class="button" ng-click="createGame()"><span class="glyphicon glyphicon-plus"/></a>
			<a class="tab-start" ui-sref="games.bookshelf"><span class="glyphicon glyphicon-th-large"/></a>
			<a class="tab-middle" ui-sref="games.table"><span class="glyphicon glyphicon-list"/></a>
			<a class="tab-end" ui-sref="games.reports"><span class="glyphicon glyphicon-stats"/></a>
			<input type="text" ng-model="searchCriteria" ng-change="$(window).trigger('resize')" class="form-control search-box toolbar-form infix-right"/>
			<span class="counter infix-left">{{ filtered.length }}</span>
			<div class="combobox">
				<input type="checkbox" name="thing" ng-model="orderReverse" class="select-reverse" id="thing"/><label for="thing" class="infix-right counter"></label>
				<select ng-model="orderByField" class="form-control toolbar-form infix-left">
					<option value="insertion" selected>Ordenar por:</option>
					<option value="system">Sistema</option>
					<option value="genre">Xénero</option>
					<option value="developer">Desenvolvedora</option>
					<option value="publisher">Editora</option>
					<option value="year">Ano</option>
					<option value="rating">Puntuación</option>
				</select>
			</div>
		</div>
		<div ui-view></div>
	</div>
</div>
