<div class="dialog-body">
	<div class="cover">
		<div align="center">
			<img ng-src="{{ prefix(details.coverArt, 'img/missing-cover-art.png') }}" ng-alt="{{ details.title }}"
				   name="cover" width="220" max-height="312" ng-click="searchCover()"/>
			<input ng-model="details.rating" id="rating"
				   type="number" class="rating" data-stars=10 min=0 max=10 step=0.5 data-size="xs" data-show-clear="false" data-show-caption="false"/>
			<label>
				<div class="checkbox" ng-if="editMode || details.digital">
					<label><input type="checkbox" ng-model="details.digital" ng-disabled="!editMode" tabindex=8/> <strong>Descárrega dixital</strong></label></span>
				</div>
			</label>
			<div>
				<em>Engadido o {{ details.insertion | date : "EEEE d 'de' MMMM, yyyy" }}</em>
			</div>
		</div>
	</div>
	<div class="info">
		<h1><span contenteditable="false" ng-model="details.title" hint="título" tabindex=1 required/></h1><br/>
		<div class="details">
			<strong><span contenteditable="false" ng-model="details.system" hint="sistema" tabindex=2 required/></strong> - <em><span contenteditable="false" ng-model="details.genre" hint="xénero" tabindex=3 required/></em><br/>
			Desenvolvido por <strong><span contenteditable="false" ng-model="details.developer" hint="desenvolvedora" tabindex=4 required/></strong><br/>
			Publicado por <strong><span contenteditable="false" ng-model="details.publisher" hint="editora" tabindex=5 required/></strong> en <strong><span contenteditable="false" ng-model="details.year" hint="ano" tabindex=6 number required/></strong><br/>
		</div>
		<div ck-editor id="editor" class="comments" contenteditable="false" ng-model="details.comments" tabindex=7></div>
	</div>
</div>
<div class="dialog-footer">
	<div errors></div>
	<div ng-if="editMode">
		<button id="cancel" name="cancel" class="btn btn-danger" ng-click="dismissEdit()" tabindex=10>Cancelar</button>
		<button id="ok" name="ok" class="btn btn-success" ng-click="acceptEdit()" tabindex=11>Gardar</button>
	</div>
	<div ng-if="!editMode">
		<button id="edit" name="edit" class="btn btn-primary" ng-click="setEditMode()" tabindex=10>Editar</button>
	</div>
</div>
