<div class="table" style="height: calc(100vh - 99px); overflow-y: scroll"> <!-- styles for overriding infinite-scroll -->
	<div class="report">
		<div class="row">
			<div ng-if="!$parent.searchCriteria" class="col-lg-12">
				<h1>Total de xogos: {{ numGames['total'] }}</h1>
			</div>
		</div>
		<div ng-if="!$parent.searchCriteria" class="row">
			<div class="chart col-lg-6">
				<h1>Xogos por sistema</h1>
				<div class="chart-box" ui-chart="bySystem" chart-options="pieChartOptions"></div>
			</div>
			<div class="chart col-lg-6">
				<h1>Xogos por xénero</h1>
				<div class="chart-box" ui-chart="byGenre" chart-options="pieChartOptions"></div>
			</div>
		</div>
		<div ng-if="!$parent.searchCriteria" class="row">
			<div class="chart col-lg-12">
				<h1>Xogos por ano</h1>
				<div class="chart-box" ui-chart="byYear" chart-options="yearChartOptions"></div>
			</div>
		</div>
		<div ng-if="!$parent.searchCriteria" class="row">
			<div class="col-lg-4">
				<h3>Top 10 devs.</h3>
				<table class="rep-table">
					<tr ng-repeat="dev in top10devs">
						<td><div>{{ dev._id }}</div></td>
						<td>{{ dev.count }}</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-4">
				<h3>Top 10 editoras</h3>
				<table class="rep-table">
					<tr ng-repeat="pub in top10pubs">
						<td><div>{{ pub._id }}</div></td>
						<td>{{ pub.count }}</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-4">
				<h3>Top 10 xogos</h3>
				<table class="rep-table">
					<tr ng-repeat="game in top10games">
						<td><div>{{ game.title }}</div></td>
						<td>{{ game.rating }}/10</td>
					</tr>
				</table>
			</div>
		</div>
		<h1>Calendario de adquisicións</h1>
		<div ng-if="!$parent.searchCriteria" class="row">
			<div ui-calendar="uiConfig.calendar" class="col-lg-12 calendar" ng-model="$parent.gameDates"></div>
		</div>
		<h1 ng-if="!searchCriteria">Desglose por sistema</h1>
		<div ng-repeat="system in detailsBySystem | filter : { name : $parent.searchCriteria }">
			<h2>{{ system.name }} <span style="font-size: medium">( {{ numGames[system.name] }} )</span></h2>
			<div class="row">
				<div class="col-lg-4">
					<h3>Xéneros</h3>
					<div class="chart-box-small" ui-chart="system.genres" chart-options="pieChartOptionsSmall"></div>
				</div>
				<div class="col-lg-4">
					<h3>Top devs.</h3>
					<table class="rep-table">
						<tr ng-repeat="dev in system.devs">
							<td><div>{{ dev._id }}</div></td>
							<td>{{ dev.count }}</td>
						</tr>
					</table>
				</div>
				<div class="col-lg-4">
					<h3>Top xogos</h3>
					<table class="rep-table">
						<tr ng-repeat="game in system.games">
							<td><div>{{ game.title }}</div></td>
							<td>{{ game.rating }}/10</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<h1 ng-if="!searchCriteria">Desglose por xénero</h1>
		<div ng-repeat="genre in detailsByGenre | filter : { name : $parent.searchCriteria }">
			<h2>{{ genre.name }} <span style="font-size: medium">( {{ numGames[genre.name] }} )</span></h2>
			<div class="row">
				<div class="col-lg-4">
					<h3>Sistemas</h3>
					<div class="chart-box-small" ui-chart="genre.systems" chart-options="pieChartOptionsSmall"></div>
				</div>
				<div class="col-lg-4">
					<h3>Top devs.</h3>
					<table class="rep-table">
						<tr ng-repeat="dev in genre.devs">
							<td><div>{{ dev._id }}</div></td>
							<td>{{ dev.count }}</td>
						</tr>
					</table>
				</div>
				<div class="col-lg-4">
					<h3>Top xogos</h3>
					<table class="rep-table">
						<tr ng-repeat="game in genre.games">
							<td><div>{{ game.title }}</div></td>
							<td>{{ game.rating }}/10</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
