<table class="CSSTableGenerator">
	<tr>
		<th order-by="title">Título</th>
		<th order-by="system">Sistema</th>
		<th order-by="genre">Xénero</th>
		<th order-by="developer">Desenvolvedora</th>
		<th order-by="publisher">Editora</th>
		<th order-by="year">Ano</th>
		<th order-by="digital">Dixital</th>
		<th order-by="rating">Puntuación</th>
		<th></th>
	</tr>
	<tr 
	ng-repeat="game in ($parent.filtered = (games | filter : activeFilters : in | filter : { $ : searchCriteria } | orderBy : orderByField : orderReverse | emptyToEnd : orderByField)) | limitTo: $parent.maxShownGames">
		<td table-edit tabindex="{{ $index*8+1 }}" contenteditable ng-model="game.title" ng-model-options="{ updateOn : 'blur' }"></td>
		<td table-edit tabindex="{{ $index*8+2 }}" contenteditable ng-model="game.system" ng-model-options="{ updateOn : 'blur' }"></td>
		<td table-edit tabindex="{{ $index*8+3 }}" contenteditable ng-model="game.genre" ng-model-options="{ updateOn : 'blur' }"></td>
		<td table-edit tabindex="{{ $index*8+4 }}" contenteditable ng-model="game.developer" ng-model-options="{ updateOn : 'blur' }"></td>
		<td table-edit tabindex="{{ $index*8+5 }}" contenteditable ng-model="game.publisher" ng-model-options="{ updateOn : 'blur' }"></td>
		<td table-edit tabindex="{{ $index*8+6 }}" contenteditable ng-model="game.year" ng-model-options="{ updateOn : 'blur' }"></td>
		<td><input table-edit tabindex="{{ $index*8+7 }}" type="checkbox" ng-model="game.digital" ng-model-options="{ updateOn : 'blur' }"/></td>
		<td><input type="number" 
		  		 min=0 max=10 step=0.5
		  		 table-edit tabindex="{{ $index*8+8 }}" contenteditable ng-model="game.rating" ng-model-options="{ updateOn : 'blur' }"/></td>
		<td><span ng-click="deleteGame(game)" class="glyphicon glyphicon-remove-sign" style="color: red; font-size:medium"/></td>
	</tr>
</table>
